*{
    /*NUMBERS BELOW MAY CHANGE*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#OpeningCard{
    background-image: url("https://imguscdn.gamespress.com/cdn/files/Bungie/2023/12/121441-dff196fe/2023_Dawning_Press_Kit_Key_Art_16x9.jpg?otf=y&lightbox=y&ex=2024-02-01+03%3A00%3A00&sky=8fd93982d8fff5f572234092be870f81614bbbe42b73bd262cced33008949b59&w=1024&maxheight=4096&mode=pad&format=jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /*CHANGE ABOVE TO SHORTHAND BACKGROUND: */
    /*LOOK INTO BLURRED BACKGROUND*/
}

h1,h2,h3,p{
    text-align: center;
    color:black;
}
